img {
    position: absolute;
    width: 588.96px;
    height: 764.04px;
    left: 841.72px;
    top: 275px;

    width: 30vw;
    height: 70vh;
}

h1 {
    font-family: Didot;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 103px;

    color: #000000;
}

h1::first-letter {
    color: rgb(185, 74, 74);
}

#simple_caregiving {
    font-weight: lighter;
}

#button {
    font-family: 'Gill Sans MT', Calibri, sans-serif;
    color: white;
    background-color: #000000;
}

#button:focus {
    background: rgb(245, 136, 128);
}

#button2 {

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-top: 16%;
    margin-left: 10%;
    color: white;
    background-color: #000000;
}


#number {
    position: absolute;
    width: 345px;
    height: 40px;
    left: 420px;
    top: 1023px;
}

.about {
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;

    color: #000000;
}

.about::first-line {
    color: rgb(185, 74, 74);
}

.menu {
    padding: 20px;
    font-family: 'Gill Sans MT', Calibri, sans-serif;
    font-size: 20pt;
    text-decoration: none;
    color: black;
}


.menu:hover {
    color: rgb(245, 101, 91)
}

.menu:active {
    text-decoration: underline;
    color: #f83b0b;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    margin: 10%;
}

.footer {
    display: flex;
    flex-direction: row;
}